
.TimeLine {
  position: fixed;
  bottom: 100px;
  width: calc( 100% - 290px - 290px - 56px);
  margin: 0 318px;

  .mark { 
    background-image: url('../../../public/icons/Timeline_slider_handle@3x.png');
    background-size: 100%;
    height: 26px;
    width: 26px;
    position: absolute;
    top: -9px;
    background-repeat: no-repeat;
  }

  .scroll {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 9px 10px;
    border-radius: 20px;
    margin-bottom: 6px;
    background-color: var(--lzcBg);
    border: 2px solid #ffffff;
    font-size: 14px;
    box-sizing: border-box;
  }

  .hr {
    border-top: 2px dashed #ffffff;
    width: 100%;
  }

  .time {
    padding: 0 5px;
    color: #ffffff;
  }
}