
.search-input .ant-input {
  width: 368px;
  margin: 0 8px 8px 0;
  border-radius: 0px
}

.ant-input{
  height: 40px
}
.ant-select-selection--single {
  height: 40px;
}
.ant-select-selection__rendered {
  line-height: 38px;
}

.ant-table-column-title {
  color: #111820;
  font-size: 14px;
  font-weight: bold
}
.create-new svg{
  width: 1em;
  height: 1em;
  fill: white;
}
.list-table .ant-table-thead tr th {
  background: white;
}
svg {
  width: 1em;
  height: 1em;
  fill: #41413F;
}
.ant-select-selection {
  border-radius : 0px
}

.list-table tbody {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.list-table .ant-pagination-prev .ant-pagination-item-link, 
.list-table .ant-pagination-next .ant-pagination-item-link,
.list-table .ant-pagination-item,
.list-table .ant-pagination-item-active {
  border: none;
}

.list-table .ant-table-body {
  overflow: scroll;
}

.ant-menu-item:hover, 
.ant-menu-item-active, 
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, 
.ant-menu-submenu-active, 
.ant-menu-submenu-title:hover {
  background-color: #1890ff;
  color: #ffffff;
}

.list-pageSize {
  position: relative;
  float: right;
  /* margin-top: -38px; */
  line-height: 1.5;
}

.list-pageSize .ant-select-selection--single {
  width: 71px;
}

.reg_draw{
    font-family: Market Sans;
    font-size: 14px;
    line-height: 2px;


    align-items: center;
}

.sub-title {
  padding: 10px 0;
}

.list-search {
  padding-bottom: 10px;

  .ant-input-search {
    width: 400px;
  }
}